.body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    background: #e8491d;
}

.nav a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
}

.nav a:hover {
    background: #2c3e50;
    transition: 0.3s;
}

.section {
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background: #35424a;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.card {
    padding: 20px;
    margin: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    background: #e8491d;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #2c3e50;
}